@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Righteous&display=swap');

body {
    background-color: #331616;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: relative;
    background-color: #1a1919;
}

.logo h2 {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
}

nav ul li {
    margin: 0 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 25px;
}

nav ul li a:hover {
    color: #030303;
    background-color: #e67600;
    transition: background-color 0.3s, color 0.3s;
}

/* Botón menú hamburguesa */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: #e67600; /* Naranja */
    cursor: pointer;
}

/* Sección principal */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

h3 {
    font-size: 28px;
    color: #ff8c00;
    margin-bottom: 10px;
    font-family: Miniver, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.buttons button {
    background-color: #ff8c00;
    border: none;
    padding: 12px 20px;
    margin-right: 10px;
    color: rgb(14, 13, 13);
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: #e67600;
}

.imagen img {
    width: 400px;
}

/* ------- RESPONSIVE ------- */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        display: none;
        padding: 20px;
        border-radius: 5px;
        gap: 20px;
    }

    nav.active ul {
        display: flex;
    }

    .menu-toggle {
        display: block;
        margin-left: 450px;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .imagen img {
        width: 300px;
        margin-top: 20px;
    }
}
